<div *ngFor="let task of tasks$" id="tasks-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{task.title}}</mat-card-title>
            <mat-card-subtitle><p>Comission: ${{task.comission}}</p></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{task.description}}</p>
            <p>Value: ${{task.value}}</p>
            <button mat-raised-button color="warn" (click)="deleteTask(task.id)" *ngIf="admin">Delete</button>
            <div class="buttons">
                <button mat-raised-button color="primary"><mat-icon>check</mat-icon></button>
                <button mat-raised-button color="warn"><mat-icon>cancel</mat-icon></button>
            </div>
        </mat-card-content>
    </mat-card>
</div>

